@font-face {
    font-family: Wisdom;
    src: url("../fonts/Wisdom_Script.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: DroidSerif;
    src: url("../fonts/droid-serif.italic.ttf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: RobotoSlab;
    src: url("../fonts/roboto-slab.regular.ttf") format("opentype");
}
body {
    margin: 0;

}
header {
    height: 700px;
    background: url("../img/Main_banner.jpg") no-repeat;
    color: #fff;
    text-align: center;
    background-size: cover;
    z-index: 1;
    padding-top: 30px;
}
.logo {
    font: 30px Wisdom;
    color: #fed136;
    display: inline-block;
    z-index: 6;
    float: left;
    margin-left: 12%;
}
nav {
    display: inline-block;
    position: relative;
    z-index: 8;
    float: right;
    margin-right: 12%;
}
nav a {
    text-decoration: none;
    font: 14px Montserrat;
    color: #fff;
    position: relative;

}
nav a:hover, nav a:active {

}
nav a:after,
nav a:before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

nav a:hover:after,
nav a:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

nav a:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-left: 40px;
}
header h1 {
    font: bold 75px 'Myriad Pro';
    text-transform: uppercase;
    line-height: 1.2;
    z-index: 5;
}
button {
    background: #fed136;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 240px;
    height: 65px;
    color: #fff;
    cursor: pointer;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    color: #fed136;
}
button:hover:after {
    height: 260%;
    opacity: 1;
}
button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
header h2 {
    font: italic 40px "DroidSerif";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    z-index: 100;
    margin-top: 205px;
}
header > *, button {
    position: relative;
}
.tint {
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 730px;
    z-index: 2;
}
footer {
    height: 90px;
    line-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.copyright {
    font: 14px Montserrat;
    color: rgb(85, 85, 85);
    position: absolute;
    left: 20px;
    top: 22px;
}

.icon {
    border-radius: 50%;
    line-height: 42px;
}
footer .icon {
    background-color: rgb(34, 34, 34);
}
.icon, .icon > span {
    display: inline-block;
    width: 41px;
    height: 41px;
}
.twitter > span {
    background: url("../img/icons/Twitter_logo.png") no-repeat center center;
}
.google > span {
    background: url("../img/icons/Google+_logo.png") no-repeat center center;
}
.facebook > span {
    background: url("../img/icons/Facebook_logo.png") no-repeat center center;
}
.pinterest > span {
    background: url("../img/icons/Pinterest_logo.png") no-repeat center center;
}
figure .twitter > span {
    background: url("../img/icons/Twitter_black.png") no-repeat center center;
}
figure .facebook > span {
    background: url("../img/icons/Facebook_black.png") no-repeat center center;
}
figure .pinterest > span {
    background: url("../img/icons/Pinterest_black.png") no-repeat center center;
}
figure .pinterest > span:hover {
    background: url("../img/icons/Pinterest_logo.png") no-repeat center center;
}
figure .twitter > span:hover {
    background: url("../img/icons/Twitter_logo.png") no-repeat center center;
}
figure .facebook > span:hover {
    background: url("../img/icons/Facebook_logo.png") no-repeat center center;
}
figure .icon:hover {
    border: none;
}
.facebook:hover {
    background-color: rgb(59, 89, 152);
}
.twitter:hover {
    background-color: rgb(0, 172, 237);
}
.pinterest:hover {
    background-color: rgb(203, 32, 40);
}
.google:hover {
    background-color: rgb(218, 39, 19);
}
.facebook, .google, .twitter, .pinterest {
    vertical-align: middle;
}
main h2, nav a, form input, form textarea {
    text-transform: uppercase;
}
form input, form textarea {
    padding-left: 20px;
}
main h2 {
    font: bold 40px Montserrat;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 40px;
}
section {
    text-align: center;
    box-sizing: border-box;
}
main h2 + p {
    font: italic 16px DroidSerif;
    margin-bottom: 80px;
}
.services {
    height: 565px;
}
.portfolio {
    height: 1215px;
}
.about {
    height: 1665px;
}
.team {
    height: 815px;
}
.logos {
    height: 165px
}
.contact {
    height: 675px;
    background: #222222;
    color: #fff;
}
.portfolio, .team {
    background: #f7f7f7;
}
form input {
    width: 460px;
    height: 55px;
    border-radius: 2px;
}
form input, form textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    font: bold 14px Montserrat;
}
form textarea {
    border-radius: 5px;
    width: 460px;
    height: 215px;
}
.logos a {
    display: inline-block;
    width: 161px;
    height: 30px;
}
.envato {
    background: url("../img/Envato.png") no-repeat;
}
.wordpress {
    background: url("../img/WordPress.png") no-repeat;
}
.tutsplus {
    background: url("../img/Tuts+.png") no-repeat;
}
.microlancer {
    background: url("../img/Microlance_copy.png") no-repeat;
}
.serv-description, .portfolio-content {
    display: flex;
}
.serv-description p {
    font: 14px RobotoSlab;
}
section {
    padding: 0 10%;
}
main h2 + p, .serv-description p, .activity-descr, .about p {
    color: #777
}
h4, button {
    font: bold 18px Montserrat;
}
.e-commerce > span {
    background: url("../img/icons/Icon-Basket.png") no-repeat center center;
}
.responsive > span {
    background: url("../img/icons/Icon-Laptop.png") no-repeat center center;
}
.security > span {
    background: url("../img/icons/Icon-Locked.png") no-repeat center center;
}
.e-commerce, .responsive, .security {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid rgb(254, 209, 54);
    width: 72px;
    height: 71px;
}
.serv-description div > span {
    display: inline-block;
    width: 72px;
    height: 71px;
}
main section:not([class='logos']) {
    padding-top: 115px;
    padding-bottom: 115px;
}
.services .serv-description div:not(:nth-child(1)) {
    margin-left: 3%;
}
.portfolio-content figure figcaption {
    padding-top: 25px;
    height: 95px;
    background: #ffffff;
    box-sizing: border-box;
}
.portfolio-content {
    flex-wrap: wrap;
    padding: 0 5%;
    justify-content: center;
}
.activity-descr {
    font: italic 14px DroidSerif;
}
.portfolio-content figure figcaption h4 {
    margin: 0 0 7px 0;
}
.portfolio-content figure:nth-child(-n+3) {
    margin-top: 0;
}
.about-5 {
    border: 7px solid rgb(241, 241, 241);
    border-radius: 50%;
    background-color: rgb(254, 209, 54);
    width: 173px;
    height: 174px;
    margin: 0 auto;
}
.about-5 > span {
    color: #fff;
    font: 18px 'Myriad Pro';
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.about p {
    font: 14px RobotoSlab;
}
.team .photo {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    background-size: cover;
}
.kimberly {
    background: url(../img/Kimberly.jpg) no-repeat center;
}
.rico {
    background: url(../img/Rico.jpg) no-repeat center;
}
.uku {
    background: url(../img/Uku.jpg) no-repeat center;
}
figure .icon > span {
    box-sizing: border-box;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    width: 41px;
    height: 41px;
}
figure .icon > span:hover {
    border: none;
}
footer .icon:not(.google) {
    margin-right: 5px;
}
.scrollToTop {
    width:50px;
    height:50px;
    text-align:center;
    position:fixed;
    top:87%;
    right:40px;
    display:none;
    background: url('../img/icons/arrow-up.png') no-repeat center;
    background-size: contain;
}
.scrollToTop:hover {
    text-decoration:none;
    opacity: 0.65;
}
.figure-wrapper {
    display: flex;
    justify-content: center;
}
.input-wrapper, textarea {
    display: inline-block;
    vertical-align: top;
}
.input-wrapper {
    width: 460px;
}
.milestones h4:nth-child(2n) {
    text-align: left;
}
.milestones h4:nth-child(2n + 1) {
    text-align: right;
}
.milestones {
    display: flex;
    justify-content: center;
    position: relative;
}
